<div class="app-loading-error">
    <p class="message error">We're having trouble retrieving your subscription data, please refresh
        your browser and try again. If the problem persists, click
        <a href="https://minibc.com/contact-us/" target="_blank">here</a> to contact our support team.
    </p>
</div>