<div class="rc-charts">
    <div class="panel">
        <div class="panel-body">
            {{!-- <h2>We're showing you some cool charts</h2> --}}
            <div class="field">
                <div class="date-selector">
                    {{date-picker id="startDate" selected=chartRangeStart value=chartRangeStart options=datepickerStartOpts}}
                    {{date-picker id= "endDate" selected=chartRangeEnd value=chartRangeEnd options=datepickerEndOpts}}                   
                </div>
            </div>

            <div id="pretty-lines">
                <canvas id="myChart"></canvas>
            </div>

            <div class="field">
                <div class="field-group">
                </div>
            </div>
        <div class="field">
            <div class="field-group">
                <h2>Date Based Metrics</h2>
                <div style="cursor: pointer">
                  {{points-chart-box title="Regular Points Given" value=regularPointsGiven.regularPointsGiven chartType='regularPointsGiven' action='changeChartType'}}  
                </div>
                <div style="cursor: pointer">
                    {{points-chart-box title="Referral Points Given" value=referralPointsGiven.referralPointsGiven chartType='referralPointsGiven' action='changeChartType' }}    
                </div>                
            </div>
        </div>

        <div class="field">
            <div class="field-group">
                <table style="width:100%">
                    <h2>Standard Metrics (non-date based)</h2>
                </table>
            </div>
        </div>
        
    {{points-chart-box title="Points" subtitle="Total Outstanding Points" value=totalPointsOut.totalPointsOut}}
    {{points-chart-box title="Dollars" subtitle="Total Outstanding Dollar Amt" value=totalDollarAmt}}   
    {{points-chart-box title="Points" subtitle="Total Points Redeem" value=totalPointsRedeem}}
    {{points-chart-box title="Points" subtitle="Points Redeemed As Store Credit" value=ptsRedeemStoreCredit.ptsRedeemStoreCredit}}
    {{points-chart-box title="Points" subtitle="Points Redeemed As Coupon" value=ptsRedeemCoupon.ptsRedeemCoupon}}

            
            
        </div>    
    </div>
</div>