<h1>App Control Settings - View / Edit</h1>

<div class="panel">
	<div class="panel-body rma-panel-body">
		<p>Note: This ratio will be used as the redeem ratio and regular purchase given out.</p>
		<form class="">
			<ul>
				<div class="field-left">
					<li class="field"><label><b>Dollar to Points Ratio</b>:</label>
						{{input type="text" name="setting_input" value=settings.dollar_pts_ratio}}
					</li>	
				</div>
			</ul>
		</form>
	</div>
</div>

<h1>Referral Settings</h1>
<div class="panel">
	<div class="panel-body rma-panel-body">
		<form class="">
			<ul>
				<div class="field-left">
					<li class="field"><label><b>Referrer Bounty</b>:</label>
						{{input type="text" name="setting_input" value=settings.referrer_bounty}}
					</li>	
					<p>Note: This is a fix points amount will be given to the referrer.</p>
					<li class="field"><label><b>Referrer Dollar to Points Ratio</b>:</label>
						{{input type="text" name="setting_input" value=settings.referrer_ratio}}
					</li>	
					<p>Note: This ratio will be used as points given to the referrer base on the referee's order total.</p>
				</div>
			</ul>
		</form>
	</div>
</div>

<h1>Email Settings</h1>
<div class="panel">
	<div class="panel-body rma-panel-body">
		<form class="">
			<ul>
				<div class="field-left">
					<li class="field"><label><b>Email Address</b>:</label>
						{{input type="text" name="setting_input" value=settings.email}}
					</li>	
					<li class="field"><label><b>Company Name</b>:</label>
						{{input type="text" name="setting_input" value=settings.company_name}}
					</li>	
				</div>
			</ul>
		</form>
	</div>
</div>

<div class="page-action">
      {{#if saveInProgress}}
          <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
      {{else if disableSave}}
         <button class="btn btn-primary">Editing</button>
      {{else}}
          {{!-- {{#link-to 'rma.returns' class="btn btn-link"}}Cancel{{/link-to}} --}}

          <div class="button-group">
              <button class="btn btn-primary submit-btn" {{action 'updateSettings' true}}>Save</button>
              {{!-- <button class="btn btn-primary submit-btn"{{action 'updateReturnProduct' false}}>Save &amp; Close</button> --}}
          </div>
      {{/if}}
  </div>


