<div class="rc-emails email-content">
    <p class="message info">{{ model.desc }}</p>
    <div class="panel">
        <div class="panel-body">
            <div class="section tab-content cc-expiry-setting">
                <div class="section-content">
                    <div class="column-layout two-columns">
                        <div class="column main-content">
                            <div class="form-vertical">
                                <div class="field">
                                    <label for="from-name">Enable this email?</label>
                                    <div class="field-group">
                                        {{switch-checkbox enabled=model.enabled}}

                                        <span class="switch-label">
                                            {{#if model.enabled}}
                                                <span class="text">Yes, send this email when the event occurs.</span>
                                            {{else}}
                                                <span class="text">No, do not send this email when the event occurs.</span>
                                            {{/if}}
                                        </span>
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="email-subject">BCC <small>(optional)</small></label>
                                    <div class="field-group">
                                        {{input type="text" name="email-bcc" placeholder="Enter an email address for BCC" value=model.bcc}}
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="email-subject">BCC Name <small>(optional)</small></label>
                                    <div class="field-group">
                                        {{input type="text" name="email-bccName" placeholder="Enter an name for BCC" value=model.bccName}}
                                    </div>
                                </div>

                                <div class="field">
                                    <label for="email-subject">Email Subject</label>
                                    <div class="field-group">
                                        {{input type="text" name="email-subject" placeholder="Enter your email subject" value=model.subject}}
                                    </div>
                                </div>

                                <div class="field">
                                    <label>Email Body</label>
                                    <div class="field-group">
                                        {{wysiwyg-editor
                                            input=model.content
                                            enterSourceModeAction="enterSourceMode"
                                            exitSourceModeAction="exitSourceMode"
                                        }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column side-content">
                            <div class="tpl-vars-wrapper">
                                <h4>Template Variables</h4>
                                {{component model.variables}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-action">
        {{#if saveInProgress}}
            <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
        {{else}}
            {{#link-to 'points.emails.index' class="btn btn-link"}}Cancel{{/link-to}}

            <div class="button-group">
                <button class="btn btn-primary submit-btn" {{action 'saveEmail' true}}>Save</button>
                <button class="btn btn-primary submit-btn" {{action 'saveEmail' false}}>Save &amp; Close</button>
            </div>
        {{/if}}
    </div>
</div>