{{#app-wrapper app=app store=application.storeInfo appsMenu=appsMenu customerMenu=customerMenu}}
    <div class="addon-main addon-recurring">
        <div>
        	{{outlet}}
        </div>
    </div>
    <div class="clearfix"></div>
{{/app-wrapper}}