<li class="row heading">
    <span class="col email">Event</span>
    <span class="col subject">Email Subject</span>
    <span class="col enabled">Enable</span>
    <span class="col action">Action</span>
</li>

{{#each emails as |email index|}}
    {{points-email-list-item
            email=email
            index=index
            total=emails.length
            disableAction="disable"
            enableAction="enable"
    }}
{{/each}}