<li class="row" style="z-index:{{zIndex}}">
	<span class="col" style="min-width: 10%;">
		{{order.order_id}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{order.first_name}} {{order.last_name}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{order.email}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{order.points_received}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{order.points_used}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{order.points_remaining}}
	</span>
	<span class="col" style="min-width: 7%;">
		${{order.cash_total}}
	</span>
	<span class="col" style="min-width: 5%;">
		{{#trigger-dropdown}}
      {{#link-to 'points.orders.order' order.id class="edit-link"}} Edit/View {{/link-to}}
    {{/trigger-dropdown}}
	</span>
</li>