<span class="tpl-section">Customer Information</span>
<dl>
    <dt>First Name</dt>
    <dd>%%CustomerFirstName%%</dd>

    <dt>Last Name</dt>
    <dd>%%CustomerLastName%%</dd>

    <dt>Email</dt>
    <dd>%%CustomerEmail%%</dd>
</dl>

<span class="tpl-section">Order Info</span>
<dl>
    <dt>Order ID</dt>
    <dd>%%OrderID%%</dd>

    <dt>Points For This Order</dt>
    <dd>%%OrderPoints%%</dd>
</dl>