<div class="rc-product-list table-list">

<li class="row heading">
	{{!-- <span class="col select-item">{{checkbox-item checked=selectAll checkAction="toggleAll"}}</span> --}}
	<span class="col" style="min-width: 10%;">Order ID</span>
	<span class="col" style="min-width: 20%;">Referee</span>
	<span class="col" style="min-width: 20%;">Referrer</span>
	<span class="col" style="min-width: 10%;">Bounty Reward</span>
	<span class="col" style="min-width: 13%;">Referral Ratio Reward</span>
	<span class="col" style="min-width: 10%;">Total Points Reward</span>
	<span class="col" style="min-width: 10%;">Order Total</span>
	<span class="col" style="min-width: 5%;">Actions</span>

</li>
</div>

{{#each referrals as |referral|}}
	{{ points-referral-item
		referral=referral
	}}
{{/each}}