<li class="row" style="z-index:{{zIndex}}">
	<span class="col" style="min-width: 10%;">
		{{record.first_name}}
	</span>
	<span class="col" style="min-width: 10%;">
		{{record.last_name}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{record.email}}
	</span>
	<span class="col" style="min-width: 7%;">
		{{record.pts_redeemed}}
	</span>
	<span class="col" style="min-width: 7%;">
		${{record.dollar_value}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{record.redemption_option}}
	</span>
	<span class="col" style="min-width: 15%;">
		{{record.coupon_code}}
	</span>
	<span class="col" style="min-width: 10%;">
		{{record.create_time}}
	</span>
</li>