<li class="row heading">
	<span class="col" style="min-width: 10%;">Customer First Name</span>
	<span class="col" style="min-width: 10%;">Customer Last Name</span>
	<span class="col" style="min-width: 15%;">Customer Email</span>
	<span class="col" style="min-width: 7%;">Points Redeemed</span>
	<span class="col" style="min-width: 7%;">Dollar Value</span>
	<span class="col" style="min-width: 15%;">Redemption Option</span>
	<span class="col" style="min-width: 15%;">Coupon Code</span>
	<span class="col" style="min-width: 10%;">Redeemed Time</span>

</li>

{{#each records as |record|}}
	{{ points-redeems-item
		record=record
	}}
{{/each}}