<li class="row heading">
	
	<span class="col" style="min-width: 10%;">Order ID</span>
	<span class="col" style="min-width: 15%;">Customer Name</span>
	<span class="col" style="min-width: 15%;">Customer Email</span>
	<span class="col" style="min-width: 15%;">Points Received</span>
	<span class="col" style="min-width: 15%;">Points Used</span>
	<span class="col" style="min-width: 15%;">Points Remaining</span>
	<span class="col" style="min-width: 7%;">Cash Total</span>
	<span class="col" style="min-width: 5%;">Actions</span>
</li>

{{#each orders as |order|}}
	{{ points-order-item
		order=order
	}}
{{/each}}