<li class="row" style="z-index:{{zIndex}}">
    <span class="col email">
        {{ email.name }}
        {{hover-tooltip content=email.desc iconClass="fa-info-circle"}}
    </span>
    <span class="col subject">{{ email.subject }}</span>
    <span class="col enabled">
        {{#if email.enabled}}
            <i class="fa fa-check-circle" {{action 'disable'}}></i>
        {{else}}
            <i class="fa fa-times-circle" {{action 'enable'}}></i>
        {{/if}}
    </span>
    <span class="col action">
        {{#trigger-dropdown}}
            {{#link-to 'points.emails.email' email.id class="edit-link"}}
                {{#if email.configured}}Edit{{else}}Setup{{/if}}
            {{/link-to}}

            {{#if email.configured}}
                {{#if email.enabled}}
                    <a class="disable-link" {{action 'disable'}}>Disable</a>
                {{else}}
                    <a class="enable-link" {{action 'enable'}}>Enable</a>
                {{/if}}
            {{/if}}
        {{/trigger-dropdown}}
    </span>
</li>