<div class='rc-chart-box'>
    <h2>{{title}}</h2>
    <p>{{subtitle}}</p>
    {{#if valueIsRelative}}
	    {{#if valueIsDown}}
    		<h1 class="negative-box"><i class="fa fa-caret-down" aria-hidden="true"></i> {{value}}</h1>
    	{{else}}
    		<h1 class="positive-box"><i class="fa fa-caret-up" aria-hidden="true"></i> {{value}}</h1>
		{{/if}}
	{{else}}
		<h1 class="neutral-box">{{value}}</h1>
	{{/if}}
    <p>{{subvalue}}</p>
</div>