<li class="row" style="z-index:{{zIndex}}">
	<span class="col" style="min-width: 10%;">
		{{referral.order_id}}
	</span>
	<span class="col" style="min-width: 20%;">
		{{referral.referee_first_name}} {{referral.referee_last_name}}( {{ referral.referee_email }})
	</span>
	<span class="col" style="min-width: 20%;">
		 {{referral.referrer_first_name}} {{referral.referrer_last_name}}( {{ referral.referrer_email }})
	</span>
	<span class="col" style="min-width: 10%;">
		{{referral.bounty_reward}}
	</span>
	<span class="col" style="min-width: 13%;">
		{{referral.referral_ratio_reward}}
	</span>
	<span class="col" style="min-width: 10%;">
		{{referral.points_reward}}
	</span>
	<span class="col" style="min-width: 10%;">
		${{referral.order_total}}
	</span>
	<span class="col" style="min-width: 5%;">
		{{#trigger-dropdown}}
      {{#link-to 'points.referrals.referral' referral.id class="edit-link"}} Edit/View {{/link-to}}
    {{/trigger-dropdown}}
	</span>
</li>