<span class="tpl-section">Customer Information</span>
<dl>
    <dt>First Name</dt>
    <dd>%%CustomerFirstName%%</dd>

    <dt>Last Name</dt>
    <dd>%%CustomerLastName%%</dd>

    <dt>Email</dt>
    <dd>%%CustomerEmail%%</dd>
</dl>

<span class="tpl-section">Order Details</span>
<dl>
    <dt>Order ID</dt>
    <dd>%%OrderId%%</dd>
</dl>

<span class="tpl-section">Payment Details</span>
<dl>
    <dt>Payment Amount</dt>
    <dd>%%PaymentTotal%%</dd>

    <dt>Last 4 Digits of Credit Card Number</dt>
    <dd>%%PaymentCardNumLastFour%%</dd>
</dl>