<span class="tpl-section">Customer Information</span>
<dl>
    <dt>First Name</dt>
    <dd>%%CustomerFirstName%%</dd>

    <dt>Last Name</dt>
    <dd>%%CustomerLastName%%</dd>

    <dt>Email</dt>
    <dd>%%CustomerEmail%%</dd>
</dl>

<span class="tpl-section">Subscription Details</span>
<dl>
    <dt>Subscription ID</dt>
    <dd>%%SubscriptionID%%</dd>
</dl>