<div class="">
	<h1>Points Rewards Program - View / Edit</h1>
	<div class="panel">
		<div class="panel-heading">
			<label>Order Information: </label>
		</div>
		<div class="panel-body rma-panel-body">
			<form class="">
				<ul>
					<div class="field-left">
						<li class="field"><label><b>Order ID</b>:</label>{{model.order_id}}</li>
						<li class="field"><label><b>Fistt Name</b>: {{model.first_name}}</label></li>
						<li class="field"><label><b>Last Name</b>: {{model.last_name}}</label></li>
						<li class="field"><label><b>Email</b>: {{model.email}}</label></li>
						<li class="field"><label><b>Points Used</b>: {{model.points_used}}</label></li>
						<li class="field"><label><b>Cash Total</b>: ${{model.cash_total}}</label></li>

						
					</div>
					<div class="field-right">
						<li class="field"><label><b>Points Earned</b>:</label>
							{{input type="text" name="" value=model.points_received}}
						</li>
						<li class="field"><label><b>Points Remaings(for this customer)</b>:</label>
							{{input type="text" name="" value=model.points_remaining}}
						</li>
						<li class="field"><label><b>Points Update Reason</b>:</label>
							{{textarea type="text" name="" value=model.pts_update_notes}}
						</li>
					</div>
				</ul>
			</form>
		</div>
	</div>

	<div class="page-action">
        {{#if saveInProgress}}
            <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
        {{else if disableSave}}
           <button class="btn btn-primary">Editing</button>
        {{else}}
            {{#link-to 'points.orders' class="btn btn-link"}}Cancel{{/link-to}}

            <div class="button-group">
                <button class="btn btn-primary submit-btn" {{action 'updateOrder' true}}>Save</button>
                {{!-- <button class="btn btn-primary submit-btn"{{action 'updateOrder' false}}>Save &amp; Close</button> --}}
            </div>
        {{/if}}
    </div>
</div>



