@import "../../../../../dashboard/2.0/styles/config";

.mt-1{
	margin-top: 10px;
}
.mt-2{
	margin-top: 20px;
}
.mt-4{
	margin-top: 40px;
}
.mt-6{
	margin-top: 60px;
}
.mr-1{
	margin-right: 10px;
}
.mb-2{
	margin-bottom: 20px;
}

.textbox{
	width:100%;
	min-height:100px;
}

.rma-select{
	width: 100% !important;
}

.rma-panel-body{
	min-height: 200px;
	.field-left{
		float: left;
		width: 50%;
	}
	.field-right{
		float: right;
		width: 50%;
	}
	.field{
		margin-top: 15px;
	}
	ul{
		li{
			display: inline;
			list-style: none;
			margin-right:  100px;
			width: 330px;
			float: left;
			input, select{
				float: right;
			}
		}
	}
}

.rc-chart-box {
			float:left;
			width:185px;
			height:150px;
			border:2px solid #6a9ef2;
			padding:10px;
			margin:15px;
			text-align:center;

			h2 {
				margin-bottom:0;
			}

			h1, p {
				margin:0;
			}

			.positive-box {
				color:#51c551;
			}

			.negative-box {
				color:#bd3d3d;
			}
		}

	/* item list */
	.table-list {
		.row {
			background: #F1F1F1;

			&.loading .col {
				&.enabled .fa, &.edit, &.delete {
					cursor: default;
				}
			}
		}

		.col {
			display: block;
			float: left;

			&.enabled, &.edit, &.delete {
				text-align: center;
				width: 150px;

				a {
					color: $siteTextColor;
					font-weight: bold;
				}
			}

			&.subscription-count {
				text-align: center;
			}

			&.enabled {
				width: 50px;

				& .fa {
					cursor: pointer;
					font-size: 1.25em;
				}
			}

			&.edit, &.delete {
				cursor: pointer;
				font-weight: bold;
				width: 75px;
			}

			.fa-check-circle {
				color: #4b71fc;
			}

			.fa-times-circle {
				color: #aeadb3;
			}
		}

		/** email list */
		&.rc-email-list {
			.col {
				&.email {
					min-width: 25%;
				}

				&.subject {
					min-width: 55%;
				}

				&.enable, &.action {
					min-width: 10%;
				}
			}
		}
	}


		/**
	 * Email Settings Page
	 */
	.email-settings {
		input[type=text] {
			box-sizing: border-box;
			width: 400px;
		}

		.form-horizontal {
			&.general-settings {
				.btn {
					border: 0 none;
				}
			}
		}

		.wysiwyg-editor {
			margin-bottom: 1em;
		}

		ul.section-list {
			border-bottom: 1px solid #e4e7ed;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				border-bottom: 3px solid transparent;
				cursor: pointer;
				display: inline-block;
				padding: 0.5em 1em;

				&.active {
					border-bottom-color: $sitePrimaryColor;
				}
			}
		}

		.section {
			&.tab-content {
				display: none;
				padding: 0 0 1em 1em;

				&.active {
					display: block;
				}

				input[type=text] {
					width: 100%;
				}
			}
		}

		.column-layout {
			align-content: space-around;
			align-items: stretch;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			.column {
				float: none;
			}

			.main-content {
				padding-top: 1em;
			}

			.side-content {
				border-left: 1px solid #e4e7ed;
				padding: 0;
				width: 28%;
			}
		}
	}

	.rc-emails {
		& > .message {
			margin-top: 0;
		}

		.main-content {
			padding-right: 1.5em;

			.field-group {
				.switch-checkbox {
					display: inline-block;
					margin-right: 1em;
				}
			}

			input[type=text] {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.side-content {
			border-left: 1px solid #e4e7ed;
			padding: 0;
			width: 28%;
		}

		.tpl-vars-wrapper {
			line-height: 1.5em;
			padding: 1em 1.5em;

			.tpl-section {
				border-bottom: 1px solid #e4e7ed;
				display: block;
				font-size: 0.85em;
				margin-bottom: 0.5em;
				text-transform: uppercase;
			}

			h4 {
				margin: 0 0 1em 0;
			}

			dl {
				margin: 0 0 0.5em 0;
			}

			dt {
				font-weight: bold;
			}

			dd {
				font-style: italic;
				margin: 0 0 0.5em 0;
			}
		}
	}
