<div class="">
    {{#searchable-list
        searchPlaceholder=""
        noSearchResultText="No results matched your search criteria. Please try again."
        noItemText="There is no redemption records yet."
        model=model
        actions=bulkActions
        bulkAction="bulkAction"
        as |model-display|
    }}
        {{#if model-display}}
            {{points-redeems-list records=model }}
        {{/if}}
    {{/searchable-list}}
</div>