<div class="">
    {{#searchable-list
        searchPlaceholder="Enter Order ID/Customer Information to search"
        noSearchResultText="No results matched your search criteria. Please try again."
        noItemText="There is no referral order yet."
        model=model
        actions=bulkActions
        bulkAction="bulkAction"
        as |model-display|
    }}
        {{#if model-display}}
            {{points-referral-list referrals = model }}
        {{/if}}
    {{/searchable-list}}
</div>