<h1>Referral Order View / Edit</h1>
<div class="panel">
	<div class="panel-body rma-panel-body">
		<form class="">
			<ul>
				<div class="field-left">
					<li class="field"><label><b>Order ID</b>:</label>
						<strong> {{model.order_id}} </strong>
					</li>	
					<li class="field"><label><b>Referrer</b>:</label>
						<strong> {{model.referrer_first_name}} {{model.referrer_last_name}} ({{model.referrer_email}}) </strong>
					</li>	
					<li class="field"><label><b>Referrer</b>:</label>
						<strong> {{model.referee_first_name}} {{model.referee_last_name}}({{model.referee_email}}) </strong>
					</li>	
					<li class="field"><label><b>Points Reward(To the Referrer)</b>:</label>
						{{input type="text" name="setting_input" value=model.points_reward}}
					</li>
					<li class="field"><label><b>Points Update Reason</b>:</label>
						{{textarea type="text" name="setting_input" value=model.pts_update_notes}}
					</li>		
				</div>
			</ul>
		</form>
	</div>
</div>

<div class="page-action">
      {{#if saveInProgress}}
          <button class="btn btn-primary submit-btn loading"><i class="fa fa-spin fa-cog"></i> Saving</button>
      {{else if disableSave}}
         <button class="btn btn-primary">Editing</button>
      {{else}}
          {{!-- {{#link-to 'rma.returns' class="btn btn-link"}}Cancel{{/link-to}} --}}

          <div class="button-group">
              <button class="btn btn-primary submit-btn" {{action 'updateReferralOrder' true}}>Save</button>
              {{!-- <button class="btn btn-primary submit-btn"{{action 'updateReturnProduct' false}}>Save &amp; Close</button> --}}
          </div>
      {{/if}}
  </div>


